*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    align-items: center;
    justify-content: center; /*Centra todos los elementos dentro del bozdy*/
    height: 100vh; /*Establecemos la altura de los elementos dentro de nuestro body*/
    background-image: linear-gradient(27deg, #00008B 25%, #F0FFFF);
}

.img{
    max-width: 200px;
    display: block;
    margin: 20px auto;
}

.pSession{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #F0FFFF;
    text-align: center;
    font-weight: 600;
    margin-bottom: 25px;
}

.Sign-up{
    width: 400px;
    min-width: 300px;
    border-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: 10px;
    border: solid #F0FFFF 3px;
    margin-top: -80px;
}

.Sign-up input{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: #F0FFFF;
    border: 1px solid #F0FFFF;
    border-radius: 2px;
    background-color: transparent;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
}

@keyframes fanimado{
    0%{
    background-position: 0% 50%;
    }
    50%{
    background-position: 100% 50%;
    }
    100%{
    background-position:  0%, 50%;
    }
    }